
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/icons8-job-96.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles.css">

<!-- Landing Page css styles4.css -->

  <link rel="stylesheet" href="/css/styles4.css">   
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>JobPreview</title>
    <style>
        .preview{
            max-width: 800px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
        }
        .snippet{
            font-size: smaller;
            margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
        }
        .comments{
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .applyButton{
            position: absolute;
            margin-left: 40%;
            padding: 8px 15px;
            background-color: green;
            font-size: 14px;
        }
        
    </style>
</head>
<body>
  <!-- navbar -->

    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/" class="w3-bar-item w3-button w3-wide"><img src="/img/icons8-job-96.png" alt="LOGO" width="30"></a>

          <!-- Right-sided navbar links -->
          <div class="w3-right w3-hide-small">
            <a href="/admin" class="w3-bar-item w3-button"><i class='bx bxs-dashboard'></i>DashBoard</a>

            <!-- <a href="/admin/jobpostform" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> CREATE</a> -->
            <a href="/" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> CONTACT</a>
            <a href="/logout" class="w3-bar-item w3-button"><i class='bx bxs-log-out' ></i> Logout</a>
    
          </div>
          <!-- Hide right-floated links on small screens and replace them with a menu icon -->
      
          <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
      </div>
      <!-- Nav bar ends ------------- -->

    <section class="preview">
        <br>
        <br>
        <div>
            <div>
                <button class="btn-primary applyButton"> + Apply Now</button>
            </div>
            <h2 class="heading">
                <a href="/job-post/<%-article._id  %>">
                    <b>
                        <%- article.jobTitle %>
                    </b>
                    
                </a>
            </h3>
            <h3 style="font-weight: 500;">
                Descripiton : </h3>
                <p class="snippet">
                    <%- article.jobDesc %>
                </p>
            
            <h4 style="font-weight: 500;">
                Skills 🛠️:  
             </h4>
                <p class ="snippet">  <%- article.skills %></p>
            <h4 style="font-weight: 500;">
                Duration 🕒:
            </h4>
                <p class="snippet"><%- article.duration  %></p>
            
            <h4 style="font-weight: 500;">
                Stipend💰:
            </h4>
                <p class="snippet"><%- article.stipend %></p>
            
            <div>
                <br>
                <!-- Like button  -->
                <a href="/job-post/like/<%-  (article._id.toString()) %>">
                    <button class="like-btn" onclick="buttonColor()"><i class="fa fa-thumbs-up" aria-hidden="false"></i>Like <%- article.likes.length %></button>
                </a>
            </div>
        </div>
    </section>
    <br>
    <section class="preview">
        <div>
            <form action="/job-post/<%- (article._id.toString()) %>" method="post">
                <label for="comment" style="font-weight: 500;">Comments
                </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comment" placeholder="Type your comment here"></textarea>
                <button type="submit"class="btn btn-primary" style="margin-top: 2px;">Comment</button>

        </form>
            <% commentArr.forEach(function(element){ %>
                <% if ((typeof element==null) || (element==null) ){ %>
                    <% } else{ %>
                        <div class="comments">
                            
                            <a href="/admin/preview/<%-element.user_id %>">
                                <h2 style="font-family: sans-serif;font-weight: 400; font-size: 1.5ch;"><img src="https://cdn-icons-png.flaticon.com/128/64/64572.png" alt="" style="width: 30px; height: 25px;border-radius: 50%; margin-right: 2px;"/> <%- element.username %></h2>
                            </a>
                            <h6><%- element.comment %></h6>
                        </div>
                
                <% } %>
            <% }) %>

        </div>
    </section>
    <footer >
        <div>
            <h5 style="color: rgb(125, 123, 123);">Copyright &copy; Job-Spot 2023</h5>
        </div>
  </footer>

<script src="/js/script.js"></script>

</body>
</html>
    