<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- favicon -->
    <link rel="icon" type="image/png" href="/img/icons8-job-96.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="/css/stylesDashBoard.css">
    <title>DashBoard</title>
</head>

<body id="body-pd">

    <!-- Header  -----------------------------------------------       -->
    <header class="header" id="header">
        <!-- Email-----  -->
        <span id="name">
           Email - <%- userDes.email %>
        </span>
        <span id="markdown"><%- userDes.username %></span>
        <div class="header_img">
        <a href="/"><i class='bx bxs-home'></i></a>

        </div>
    </header>


    <main>
        <div style="display: flex ; align-items: center ; width: 99% ; justify-content: space-between">
            <h4>Projects</h4>
        </div>


        <div class="containerr">

            <!-- Blogs -------------------------------------------- -->
            <div id="todo">
                <div style="display: flex ;align-items: center; justify-content: space-between">
                    <span style="font-size: 1.2rem">Blogs posted</span>
                </div>
                <!-- Post Card -------------------------- -->
                <% arr.forEach((post)=>{%>
                    <% if ((typeof post==null) || (post==null) ){ %>
                        <% } else{ %>
                            <a href="/job-post/<%-post._id %>">
                                <div class="card" style="border-radius: 0.5rem">
                                    <div class="card-body">
                                        <div
                                            style="display: flex ; align-items: center ; justify-content: space-between">
                                            <h5><%- post.jobTitle %></h5>
                                            
                                        </div>
                                        <p class="card-text" style="font-size: 0.8rem"><%- post.jobDesc %></p>
                                        <span
                                            style="border-radius: 50% ; background-color: orange ; color: white ; padding: 0.3rem">ms</span>
                                    </div>
                                </div>
                            </a>
                            <% } %>
                                <%}) %>

            </div>

            <!-- Followers section --------------------------------------- -->
            <div id="inProgress">
                <div style="display: flex ;align-items: center; justify-content: space-between">
                    <span style="font-size: 1.2rem">Followers</span>
                </div>
                <div class="card" style="border-radius: 0.5rem">
                    <!-- card -------------------------- -->
                    <div class="card-body">
                        <div style="display: flex ; align-items: center ; justify-content: space-between">
                            <h5 class="card-title">.Development</h5>

                        </div>
                        <p class="card-text" style="font-size: 0.8rem">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, at consequuntur deserunt,
                            ducimus error expedita facere, facilis nisi officia placeat quasi
                        </p>
                        <span
                            style="border-radius: 50% ; background-color: orange ; color: white ; padding: 0.3rem">ms</span>
                        <span
                            style="border-radius: 50% ; background-color: mediumpurple ; color: white ; padding: 0.3rem 0.4rem ;margin-left: -0.7rem">ps</span>
                    </div>


                </div>
            </div>

            <!-- Following sector ------------------ -->
            <div id="completed">
                <div style="display: flex ;align-items: center; justify-content: space-between">
                    <span style="font-size: 1.2rem">Following </span>
                   
                </div>
                <!-- Card ----------------- -->
                <div class="card" style="border-radius: 0.5rem">

                    <div class="card-body">
                        <div style="display: flex ; align-items: center ; justify-content: space-between">
                            <h5 class="card-title">.Development</h5>

                        </div>
                        <p class="card-text" style="font-size: 0.8rem">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, at consequuntur deserunt,
                            ducimus error expedita facere, facilis nisi officia placeat quasi
                        </p>
                        <span
                            style="border-radius: 50% ; background-color: orange ; color: white ; padding: 0.3rem">ms</span>
                        <span
                            style="border-radius: 50% ; background-color: mediumpurple ; color: white ; padding: 0.3rem 0.4rem ;margin-left: -0.7rem">ps</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="/js/scriptDashBoard.js"></script>
</body>

</html>